<a href="https://colab.research.google.com/github/FranPolo25/Employee-Attrition/blob/main/Reto_Modulo_2_Francisco_Polo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DSAI Reto Final (Francisco Javier Polo Chavez)

Montar drive en caso de tener los datos ahí

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importar frameworks

In [ ]:
import pandas as pd
import numpy as np

**Recuperar la información del Archivo employee_attrition.csv**

In [ ]:
employee = pd.read_csv('/content/drive/MyDrive/Data Science/Archivos Excel/Employee Attrition.csv') #Leer el archivo y asignarlo a un dataframe llamado employee
employee.info() #Revisar un poco acerca del archivo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                3000 non-null   object
 1   Gender                     3000 non-null   object
 2   Age                        2839 non-null   float64
 3   Education_Level            3000 non-null   int64
 4   Relationship_Status        3000 non-null   object
 5   Hometown                   3000 non-null   object
 6   Unit                       3000 non-null   object
 7   Decision_skill_possess     3000 non-null   object
 8   Time_of_service            2948 non-null   float64
 9   Time_since_promotion       3000 non-null   int64
 10  growth_rate                3000 non-null   int64
 11  Travel_Rate                3000 non-null   int64
 12  Post_Level                 3000 non-null   int64
 13  Pay_Scale                  2997 non-null   float64
 14  Compensation_and_Benefits  3000 non-null   object
 15  Work_Life_balance          2995 non-null   float64
 16  VAR1                       3000 non-null   int64
 17  VAR2                       2783 non-null   float64
 18  VAR3                       3000 non-null   float64
 19  VAR4                       2702 non-null   float64
 20  VAR5                       3000 non-null   int64
 21  VAR6                       3000 non-null   int64
 22  VAR7                       3000 non-null   int64
dtypes: float64(7), int64(9), object(7)
memory usage: 539.2+ KB

**El tiempo de servicio promedio de los trabajadores**

In [ ]:
serviciopromedio = employee.drop_duplicates(subset = 'Employee_ID')
serviciopromedio['Time_of_service'].mean()

13.403663500678427

**El porcentaje de hombres y mujeres en el archivo**

In [ ]:
hombre = employee[employee['Gender'] == "M"]
mujer = employee[employee['Gender'] == "F"]
hombre = hombre['Gender'].count()
mujer = mujer['Gender'].count()

print("La cantidad de hombres dentro del archivo es de: ", hombre)
print("La cantidad de mujeres dentro del archivo es de: ", mujer)
print("La cantidad total de personas dentro del archivo es de: ", (hombre + mujer))
print("El porcentaje de hombres es de :", ((hombre * 100)/(hombre + mujer)), "%")
print("El porcentaje de mujeres es de :", ((mujer * 100)/(hombre + mujer)), "%")

La cantidad de hombres dentro del archivo es de:  1272
La cantidad de mujeres dentro del archivo es de:  1728
La cantidad total de personas dentro del archivo es de:  3000
El porcentaje de hombres es de : 42.4 %
El porcentaje de mujeres es de : 57.6 %

**El tiempo máximo sin promoción de las personas que llevan más de 15 años de servicio**

In [ ]:
#promo = employee[employee['Time_of_service']>15]
#promo['Time_since_promotion'].max()
promo = employee[['Time_of_service','Time_since_promotion']][employee['Time_of_service']>15]
promo['No_Promotion'] = employee['Time_of_service'] - employee['Time_since_promotion']
promo = promo.sort_values('No_Promotion',ascending=False)
print(promo)
print('El tiempo maximo sin promocion del archivo de datos es de: ', promo['No_Promotion'].max())

      Time_of_service  Time_since_promotion  No_Promotion
814              41.0                     1          40.0
2632             42.0                     2          40.0
1107             42.0                     2          40.0
1                41.0                     2          39.0
2150             43.0                     4          39.0
...               ...                   ...           ...
2837             16.0                     4          12.0
1759             16.0                     4          12.0
709              16.0                     4          12.0
1621             16.0                     4          12.0
1324             16.0                     4          12.0

[1076 rows x 3 columns]
El tiempo maximo sin promocion del archivo de datos es de:  40.0

**La edad promedio en la que ingresaron las personas a la empresa, genera una nueva columna derivada mediante la formula Age - Time_of_service**

In [ ]:
employee['Edad_de_Ingreso'] = employee['Age'] - employee['Time_of_service']
edad_promedio = employee[['Employee_ID', 'Age', 'Time_of_service', 'Edad_de_Ingreso']]
print(edad_promedio)
print('La edad promedio de todos los empleados dentro del archivo es de: ', edad_promedio['Edad_de_Ingreso'].mean())

     Employee_ID   Age  Time_of_service  Edad_de_Ingreso
0      EID_22713  32.0              7.0             25.0
1       EID_9658  65.0             41.0             24.0
2      EID_22203  52.0             21.0             31.0
3       EID_7652  50.0             11.0             39.0
4       EID_6516  44.0             12.0             32.0
...          ...   ...              ...              ...
2995   EID_22547  32.0              3.0             29.0
2996   EID_10066   NaN             10.0              NaN
2997    EID_7126  60.0             35.0             25.0
2998    EID_4929  51.0             23.0             28.0
2999   EID_24750  45.0             12.0             33.0

[3000 rows x 4 columns]
La edad promedio de todos los empleados dentro del archivo es de:  26.391896737181785

**Un dataframe con las columnas Employee_ID, Relationship, Decision_skill_process que sólo contenga los registros de mujeres, solteras y con compensación tipo 2 o 3**

In [ ]:
mujeres = employee.query('(Gender=="F") & (Relationship_Status=="Single") & (Compensation_and_Benefits=="type2" | Compensation_and_Benefits=="type3")')
mujeres = mujeres[['Employee_ID','Relationship_Status','Decision_skill_possess']]
#El siguiente comentario es para revisar los registros deseados pero que no se deben de mostrar en las columnas seleccionadas
#mujeres = mujeres.drop(['Age', 'Education_Level', 'Hometown', 'Unit', 'Time_of_service', 'Time_since_promotion', 'growth_rate', 'Travel_Rate', 'Post_Level', 'Pay_Scale', 'Work_Life_balance', 'VAR1', 'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7', 'Edad_de_Ingreso'], axis=1)
mujeres

     Employee_ID Relationship_Status Decision_skill_possess
0      EID_22713              Single             Conceptual
10     EID_13639              Single             Behavioral
12     EID_16537              Single              Directive
15      EID_1855              Single             Analytical
23     EID_11398              Single              Directive
...          ...                 ...                    ...
2979   EID_23052              Single             Analytical
2993   EID_10639              Single             Conceptual
2995   EID_22547              Single              Directive
2996   EID_10066              Single             Conceptual
2997    EID_7126              Single             Analytical

[578 rows x 3 columns]

**Una columna derivada con el valor "on time" si cuando tuvo su última promoción tenía menos de 30 años. En caso contrario colocar el valor de "out of time"**

In [ ]:
#Primer intento
#employee['Time'] = employee['Age'] - employee['Time_since_promotion']
#time = employee[['Employee_ID', 'Age', 'Time_since_promotion', 'Time']]
#time = time.query('(Time>0) & (Time<30)')
#time['NewTime'] = "On Time"
#time

#Segundo intento
#if((time['Time']>0) & (time['Time']<30)) in time.columns:
  #time['NewTime'] = "On Time"
#  print("yes")
#else:
  #time['NewTime'] = "Out of Time"
#  print("no")
#time.info()

employee['Time'] = employee['Age'] - employee['Time_since_promotion']
time = employee[['Employee_ID', 'Age', 'Time_since_promotion', 'Time']]
time['Time'] = pd.to_numeric(time['Time'], downcast='float')
time.loc[((time['Time']>0) & (time['Time']<30)), 'NewTime'] = "On Time"
time.loc[time['Time']>30, 'NewTime'] = "Out of Time"
time

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

     Employee_ID   Age  Time_since_promotion  Time      NewTime
0      EID_22713  32.0                     4  28.0      On Time
1       EID_9658  65.0                     2  63.0  Out of Time
2      EID_22203  52.0                     3  49.0  Out of Time
3       EID_7652  50.0                     4  46.0  Out of Time
4       EID_6516  44.0                     4  40.0  Out of Time
...          ...   ...                   ...   ...          ...
2995   EID_22547  32.0                     3  29.0      On Time
2996   EID_10066   NaN                     2   NaN          NaN
2997    EID_7126  60.0                     1  59.0  Out of Time
2998    EID_4929  51.0                     1  50.0  Out of Time
2999   EID_24750  45.0                     4  41.0  Out of Time

[3000 rows x 5 columns]

**Guardar los dataframes resultantes**

In [ ]:
promo.to_excel('/content/sample_data/tiempo_maximo_sin_promoción.xlsx') #Archivo ejercicio 3
edad_promedio.to_excel('/content/sample_data/edad_promedio.xlsx') #Archivo ejercicio 4
mujeres.to_excel('/content/sample_data/mujeres.xlsx') #Archivo ejercicio 5
time.to_excel('/content/sample_data/tiempo_de_ultima_promocion.xlsx') #Archivo ejercicio 6